<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Jordan Drinks</title>
  <%= stylesheet_link_tag 'posts', media: 'all'%>
  <%= stylesheet_link_tag 'media-queries', media: 'all'%>
  <!-- use viewport tab to fit site to viewport of mobile browser -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body id="home">
  <div id="wrapper">

    <header>
      <h1 id="title"><a href="index.html">Jordan Drinks</a></h1>
      <h2 id="subtitle">Craft Brew Reviews in Pint Form</h2>

      <nav>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#about">Contact</a>
        <a href="posts/new">New Post</a>
      </nav>
    </header>
    <section id="main-content">
      <div id="featured">

      </div>
    <hr/>
      <div id="latest">

      <section class="left-col">
      <div id="posts">
      <% @posts.each do |post| %>
        <div id="post">
          <h3><%=post.title %></h3>
          <h6><%=post.created_at.strftime("%B %d, %Y") %></h6>
          <%= simple_format post.body %>
          <small>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
        </div>
      <% end %>
      </div>
      </section> <!-- close left-col -->

      <aside class="sidebar">
         <h4><a href="#">Find Jordan</a></h4>
          <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Email</a></li>
        </ul> 
        <br/>
        <h4><a href="#">Blogs He Likes</a></h4>
        <ul>
          <li><a href="http://crafttaste.com/">Craft Taste</a></li>
          <li><a href="#">Blog Name</a></li>
          <li><a href="#">Blog Name</a></li>
        </ul>
        <br/>
        <div id="untappd" data-id ="<%= @client_id %>" data-secret="<%= @client_secret %>">
          <p>Untappd Feed Coming Soon!</p>
        </div>
      </aside>
      </div> <!-- end latest -->

      <div class="clearfix"></div>
      <hr/>
      <div id="about">
        <h3>About</h3>
        <p>Jordan is a native Austinite.  He enjoys craft brews, soccer, good conversation.  Sometimes all at the same time.</p>  <p>All reviews and opinions expressed here are his own. </p>
        <p></p>
      </div>
    </section>
    <hr/>
    <footer>
      <p>&copy; Bethany Nagel</p>
    </footer>

  </div>  <!--  End wrapper -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <%= javascript_include_tag 'posts' %>


</body>
</html>
