<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <%= csrf_meta_tag %>
  <title>Jordan Drinks</title>
  <%= stylesheet_link_tag 'posts', media: 'all'%>
  <%= stylesheet_link_tag 'media-queries', media: 'all'%>
  <!-- use viewport tab to fit site to viewport of mobile browser -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body id="home">
  <div id="wrapper">

    <header>
      <h1 id="title"><a href="index.html">Jordan Drinks</a></h1>
      <h2 id="subtitle">Craft Brew Reviews in Pint Form</h2>

      <nav>
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="http://untappd.com/jh1640">Untappd</a>
        <a href="http://twitter.com/jhills1640">Twitter</a>
      </nav>
    </header>
    <section id="main-content">
      <div id="featured">

      </div>
    <hr/>
      <div id="latest">

      <section class="left-col">
      <div id="posts">
      <% @posts.each do |post| %>
        <div id="post">
          <h3><%=post.title %></h3>
          <h6><%=post.created_at.strftime("%B %d, %Y") %> | Author: <% if post.user.email.present? %> <%= post.user.email %> <%end%></h6>
            <div class="content"><p><%= post.body %></p></div>
            <div class="photo">
            <% if post.attachment.present? %>
              <iframe src= <%=post.attachment_url(:small)%> height="200" width="200"></iframe>
            <% end %>
            </div>
          <div class="clearfix"></div>
          <!-- <button>Show More</button> -->
          <% if user_signed_in? %>
            <small>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </small>
          <% end %>
        </div>
      <% end %>
      </div>
      </section> <!-- close left-col -->

      <aside class="sidebar">
        <br/>
        <div id="untappd" data-id ="<%= @client_id %>" data-secret="<%= @client_secret %>">
          <div id="untappd-logo"></div>
          <h4><a href="https://untappd.com/user/jh1640/beers">Recent Brews</a></h4>
        </div>
      </aside>
      </div> <!-- end latest -->

      <div class="clearfix"></div>
      <hr/>
      <div id="about">
        <h3>About</h3>
        <p>Jordan is a native Austinite.  He enjoys craft brews, soccer, good conversation.  Sometimes all at the same time.</p>  <p>All reviews and opinions expressed here are his own. </p>
        <p></p>
      </div>
    </section>
    <hr/>
    <footer>
      <p>&copy; Bethany Nagel</p>
    </footer>
    <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    <% end %>
  </div>  <!--  End wrapper -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript"
    src="http://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>
  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag 'posts' %>



</body>
</html>
